/* GoIndi specific CSS */

.navbar {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    border-width: 0;
    border-radius: 0;
    background: #438eb9;
    box-shadow: none;
    color: #fff;
    min-height: 45px;
    margin-bottom: 20px;
}

.navbar .navbar-brand {
    color: #fff;
    text-shadow: none;
    height: auto;
}

.navbar-container {
    padding-left: 10px;
    padding-right: 10px;
}


.search-form {
    width: 300px;
    position: fixed;
    right: 0;
    top: 0;
    padding: 8px;
    z-index: 1050;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto; 
}

i {
  font-size:16px;
}

.nav > li > a {
  color:#787878;
}



/* count indicator near icons */
.nav>li .count {
  position: absolute;
  bottom: 12px;
  right: 6px;
  font-size: 9px;
  background: rgba(51,200,51,0.55);
  color: rgba(255,255,255,0.9);
  line-height: 1em;
  padding: 2px 4px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}


.list-unstyled li > ul > li {
   margin-left:10px;
   padding:8px;
}